# PHPStorm
.idea

# Composer
composer.phar
composer.lock
vendor

# npm
node_modules
package-lock.json

# Coverage Reporting
report

# Generated Archives
pkg

# phpunit
.phpunit.result.cache

# migration tool files
migration
hooks_migration.php
