language: php
dist: xenial
notifications:
  email:
    recipients:
      - middleware@hexonet.net
    on_success: never
    on_failure: always
php:
  - 5.6
  - 7.2
  - 7.3
# Trigger a push build on master, next and dependabot branches + PRs build on every branches
# Avoid double build on PRs (See https://github.com/travis-ci/travis-ci/issues/1147)
branches:
  only:
    - master
    - next
    - /^dependabot.*$/
before_install:
  - export PATH="$HOME/.config/composer/vendor/bin:$PATH"
  - export TRAVIS_NODE_VERSION="lts/*"
addons:
  apt:
    update: true
install:
  - wget https://github.com/jgm/pandoc/releases/download/2.7.3/pandoc-2.7.3-1-amd64.deb
  - sudo dpkg -i pandoc-2.7.3-1-amd64.deb
  - rm -rf ~/.nvm
  - git clone https://github.com/creationix/nvm.git ~/.nvm
  - (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`)
  - source ~/.nvm/nvm.sh
  - nvm install $TRAVIS_NODE_VERSION
  - travis_retry composer global require squizlabs/php_codesniffer
script:
  - npm run codeCheck
jobs:
  include:
    - stage: release
      node_js: lts/*
      script:
        - npm prune
        - travis_retry npm i
        - npx semantic-release
